.mainTitle
{
	color: #28a745;
    font-size: 18px;
}
bg-light {
      background-color:#F7F7F7
}
footer
{
	 background-color:#F7F7F7;
	 height: 100px;
	 width:100%;
	 display:inline-block
}
#container
{
	padding-top:10px;
	padding-bottom:10px;
	font-size: 14px;
}


.imgCard
{
	    width: 100%;
    height: 150px;
}
.box
{
	
	margin-bottom:30px;
	float: left;
}
.contentBox
{
	padding:5px;
	height:96px;
	text-align:center
}
#container
{
	 
}
.jumbotron {
    padding: 1rem 2rem;
}





.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
